*{
    margin: 0;
    padding: 0;
}
#logoScript {
    width: 99px;
    height: 99px;
    // background-position: center;
    // background-size: cover;
    position: absolute;
    left: 23px;
    z-index: 3;
}

.login-signup {
 width: 220px;
 margin-right: 5px auto;
 position: absolute;
 right: 10px;
 top: 30px;
 text-decoration: none;
//  box-shadow: 0 0 20px 9px rgb(198, 99, 194); .toggle_btn
//  border-radius: 30px;
}
 .toggle_btn{
text-decoration: none;
margin-right: 20px;
font-size: large;
// background-color: aqua;
} 
.header-group {
    display: block;
    position: absolute;
    right: 15px;
}
