*{
    margin: 0;
    padding: 0;
}
#logoScript {
    width: 99px;
    height: 69px;
    position: absolute;
    left: 23px;
    z-index: 3;
}

.login-signup {
 width: 320px;
 margin-right: 5px auto;
 position: absolute;
 right: 10px;
 top: 30px;
 text-decoration: none;
}
 .toggle_btn{
text-decoration: none;
margin-right: 20px;
font-size: large;
} 
 #toggle_group{
text-decoration: none;
margin-right: 42px;
font-size: larger;
color: #00a2c7;
position: absolute;
right: 100px;
} 
.header-group {
    display: block;
    position: absolute;
    right: 15px;
}
