// greeting component css  also lives here.
.splash {
  width: 100%;
  height: 460px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.splash-video {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.splash-black-div {
  width: 100%;
  height: 460px;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  opacity: 0.4;

}

.splash-section {
  color: white;
  font-size: 24px;
  z-index: 2;
  width: 1068px;
  height: 212px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; 
  top: 38px; 

}
.navbar-dropdown{
  width: 512px;
  height: 326px;
  top: 64px;
  position: absolute;
  right: 15px;
  // font-size: 14px;
  border-radius: 3px;
  // cursor: pointer;
  // display: flex;
  box-shadow: 0 0 5px #666;
  background-color:#FFF;
  z-index: 4;  
}
.navbar-dropdown:after {

  content: ".";
  position: absolute;
  top: -10px;
  left: 420px;
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-style: solid ;
  border-width: 0 10px 10px;
  border-color: transparent transparent #fff;
}
.navbar-button2{
  color: rgba(0,0,0,.54);
  top: 64px;
  position: absolute;
  right: 86px;
  cursor: pointer;
  z-index: 4;  
  font-size: 16px;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
}
.profile{
  position: absolute;
  width: 120px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  top:20px;
  right: 20px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  color: rgba(0,0,0,.54);
}
.separate_groupname{
  position: relative;
  top: 10px;
  margin: 0 20px;
  padding: 12px 0;
  width: 300px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.dropdown_groupnames {
  text-decoration: none;
  font-size: 16px;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  color: rgba(0,0,0,.87);
}
.see_your_groups{
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-size: 13px;
  position: absolute;
  margin-left:20px;
  margin-top: 70px;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
  border: 1px solid rgba(0,0,0,.12);
  stroke: transparent;
  fill: rgba(0,0,0,.87);
  background: #fff;
  border-radius: 3px;
}
.splash-section h3 {
  margin: 12px;
} 
.splash-section > h1 {
  font-size: 42px;
}

.splash-section > h3 {
  font-size: 20px;
}
 