#member-home-header {
    background: #00455d;
    height: 160px;
    position: relative;
    // left: -80px;
    // right: 0px;
    width: 100%;
    margin-top: 7px;
} 
#afterlogin-urgroups {
    // padding-top: 15px;
    // margin-left: 20px;
    position: absolute;
    font-size: 13px;
    font-weight: 600;
    top: 250px;
    left: 17%;
    color: rgb(33, 33, 33);
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
   
.heroPrimary {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 34px;
    position: absolute;
    line-height: 1.25;
    text-align: center;
    top: 30px;
    left: 40%;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
}
.heroSecondary {
    color: rgba(255,255,255,.7);
    font-size: 16px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    text-size-adjust:100%;
    position: absolute;
    line-height: 1.25;
    text-align: center;
    top: 80px;
    left: 38%;
}
.your_groups {
    margin-top: 230px;
    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}
 .afterlogin-border{
     position: relative;
     margin-top: 20px;
     margin-bottom: 30px;
     left:1%;
     width: 980px;
     border: 1px solid rgb(241, 239, 239); 
 }
 #afterlogin-urgroups2{
     position: relative;
     left: 15px;
 }
//  .afterlogin_group_pic{
//     margin-top: 20px;
//     display: flex;
//     width: 100%;
//     left: 160px;
//     margin-right: 160px;
//     flex-wrap: wrap;
//  }
 .afterlogin-groupandpics{
     overflow: hidden;
     width: 100%;
     display: flex;
 }
 .group-info2 img {
    width: 309.33px;
    height: 180px;
    left: 10px;
    // width: 8vw;
    // height: 7vh;
    margin-left: 1px;
    margin-right: 15px;
    border-radius: 3px;
    position: relative;
    margin-bottom: -25px;
    cursor: pointer;
}
 