#member-home-header {
    background: #00455d;
    height: 160px;
} 

.heroPrimary {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 34px;
    line-height: 1.25;
    text-align: center;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
}