.update-all{
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
.edit-banner {
    margin-top: 45px;
    height: 250px;
    background-image: url(https://bit.ly/2UfQMny);
    background-position: 0 -45px;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
  
  }
.edit-title{
    font-weight: 600;
    position: absolute;
    top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 209, 209);
    -webkit-font-smoothing: antialiased;
}
.edit-group-section {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .edit-form {
      margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 808px;
  }
//   .edit-group4-input {
//     padding-top: 48px;
//     padding-bottom: 2px;
//     padding-left: 16px;
//     padding-right: 16px;
//   }
.edit-input1 {
margin-top: 15PX;  
margin-left: 80px;
width: 688px;
}
#edit-group-name {
    margin-left: 80px;
}






 
.edit-2{
    // position: absolute;
    margin-top: 30px;
}
#edit-description{
    margin-top: 10px;
    margin-left: 80px;
}

.description2{
    margin-top: 15px;
    margin-left: 34px;
    width: 688px;
    height: 200px;
 }
 
 
.deletebtn {
    font-size: 20px;
    font: bolder;  
    width: 150px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 60px;
    background-color:#e2586a;
    cursor: pointer;
    color: whitesmoke;
    margin-top: 15px;

}
.edit-submit{
    margin-left: 80px;
    background-color:#e2586a;
    top: 10px;
    font-size: 20px;
    position: relative;
    font: bolder;  
    width: 150px;
    cursor: pointer;
    color: whitesmoke;  
    margin-top: 15px;
    margin-bottom: 50px;  
} 
 


 