.update-all{
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

.update-banner{
    position: relative;
    font-size: 24px;
    // width: 99%;
    height: 100px;
    background-color:#e2586a;
    text-align: center;
    top: 60px;
    // margin-left: 90px;
}
.createform{
    position: relative;
    top: 100px;
    left: 10px;
    margin-bottom: 40px;

}
.create-2{
    position: absolute;
    margin-top: 30px;
}
.input-2{
    margin-top: 15px;

}
.text1{
    margin-top: 15px;
    margin-left: 9px;
    width: 65%;
    height: 110px;
    font-size: 20px;
}
.update-group-title {  
    position: absolute;
    top: 20px;
    color: #fafafa;
    font-weight: bold;
    margin-left: 15px;


}

.deletebtn {
    font-size: 20px;
    font: bolder;  
    width: 150px;
    height: 35px;
  position: relative;
  top: 10px;
  left: 60px;
  background-color: crimson;
}
.create-submit{
    margin-left: 60px;
    background-color: yellowgreen;
    top: 10px;
    font-size: 20px;
    position: relative;
    font: bolder;  
    width: 150px;
}
// .delete-trash {
//   width: 35px;
//   height: 35px;
//   position: relative;
//   top: 10px;
//   left: 60px;
// }

// .create-submit{
//     background-color: yellowgreen;
//     font-size: 20px;
//     font: bolder;  
//     width: 340px;
// }

.submit-div{
    margin-bottom: 40px;
}
