
.group-showpage img {
    display: flex;
    width: 600px;
    height: 337px;
    border-radius: 3px;
    margin-top: 100px;
    margin-left: 20px;
    // border-top: 5px solid red;
}

#group_page_name{
    font: 36px bold;
    position: absolute;
    margin-left: 650px;
    margin-top: 20px;

}
#whatweabout{
    margin-top: 50px;
    margin-left: 20px;
}
.link-join{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.nomanage{
    display: none;
}
.aboutgroup {
    width: 510px;
    height:200px;
    margin-left: 25px;
    margin-top: 5px;
    border: 2px;
      
}
.aboutgroup p{
    background-color: blue($color: #000000);
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #404040;
    padding-bottom: 40px;
 
}

.right-members{
    position: absolute;
    right: 90px;
    top: 500px;
}
.member2 p {
    position: absolute;
    margin-top: 2px;
    right:17px;
}
.show-city{
    position: absolute;
    left: 680px;
    font-size: 14px;
    font-weight: 600;
    top: 200px;
}
.icon1map{
    position: absolute;
    left: 650px;
    top: 200px;
}
.icon2member{
    position: absolute;
    left: 650px;
    top: 240px;
}
.icon3organizer{
    position: absolute;
    left: 650px;
    top: 280px;
}
#organizedby{
    position: absolute;
    left: 680px;
    top: 280px;
}
#organizer-name{
    position: absolute;
    left: 850px;
    top: 282px;
    color: rgb(39, 148, 112);
    font-size: 18px;
    font-weight: 600;
}
.show-members{
    position: absolute;
    left: 680px;
    top: 240px; 
}
.link-join22{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
}
.manage{
    width: 100px;
    height: 40px;
    position: absolute;
    background-color: #e81035; 
    font-weight: 700;
    padding: 3px;
    border-radius: 3px;
    left: 780px;
    top: 414px;
    display: none;
 
}
.join_group_btn{
    width: 90px;
    height: 40px;
    position: absolute;

    background-color: #e81035; 
    font-weight: 700;
    padding: 3px;
    border-radius: 3px;
    margin-left: 335px;
    margin-top: 5px;
    left: 320px;
    top: 410px;
}
.avatar{
    height: 60px;
    width: 60px;
}
.right-members{
    position: absolute;
    top: 550px;
    right: 120px;
}
.memberAvatars{
    position: absolute;
    margin-top: 50px;
    margin-bottom: 41px;
    right: 20px;
}
#memberfont{
    position: absolute;
    right: -12px;
    color: rgb(32, 110, 110);
    font-size: 27px;
}  
.groupshow-border{
    position: absolute;
    top: 65px;
    width: 99%;
    overflow: hidden;
    left: 10px;
    border: 1px solid rgb(241, 239, 239); 
}
.groupshow-border2{
    position: absolute;
    margin-top: 18px;     
    width: 99%;   
    overflow: hidden;
    left: 10px;
    border: 1px solid rgb(241, 239, 239); 
}