.group-info img {
    width: 230px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
}
 
.group-info_text {
    color: black;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    bottom: 24px;
    margin-left: 12px;
    cursor: pointer;

}
.jimmy_group_pic {
    margin-top: 20px;
    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    // overflow: hidden;
}
#groupsttt {
    padding-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
   color: rgb(33, 33, 33);
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#under-groupsttt {
    // text-align: center;
    padding-top: 4px;
    margin-left: 20px;
    font-size: 16px;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #757575;
}

.groupandpics{
    margin-top: 40px;
    margin-left: 2px;
    overflow: hidden;

}