// .group-info{
//     margin-left: 100px;
//     margin-right: 100px;
// }
.group-info img {
    width: 230px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
}
.group-info-yours img {
    width: 228px;
    height: 180px;

    // width: 8vw;
    // height: 7vh;
    margin-left: 1px;
    margin-right: 10px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
}
 
#group-item-name {
    color:white;
    position: relative;
    font-size: 20px;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    bottom: 35px;
    margin-left: 12px;
    cursor: pointer;
    transform: translateY(-45px);

}
.jimmy_group_pic {
    margin-top: 20px;
    display: flex;
    width: 100%;
    left: 160px;
    margin-right: 160px;
    flex-wrap: wrap;
    // overflow: hidden;
}
#groupsttt {
    padding-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(33, 33, 33);
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#under-groupsttt {
    // text-align: center;
    padding-top: 4px;
    margin-left: 20px;
    font-size: 16px;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #757575;
}

.groupandpics{
    margin-top: 40px;
    margin-left: 16%;
    margin-right: 10px;
    overflow: hidden;
    justify-content: center;
}
#num-members{
    position: relative;
   font-size:  13px;
   bottom: 20px;
   transform: translateY(-55px);
   margin-left: 12px;
   color: rgba(255,255,255,.7);
   font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}